*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    height: 370vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #4158D0;
    user-select: none;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.one{
    width: 90%;
    height: 120vh;
    display: flex;
    flex-direction: column;
}

.onetop{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.onebtm{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
}

.welcome{
    font-family: "Impact";
    color: white;
    font-size: 100px;
}

.onebtm > a{
    width: max-content;
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: "Impact";
}

.onemid{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1{
    width: 120%;
    height: 120%;
    animation: zoom linear 6s infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1.3);
    }
}

#two{
    width: 90%;
    height: 100vh;
    display: flex;
    border-radius: 20px;
    padding: 30px;
    background-color: rgba(202, 202, 202, 0.486);
}

.box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.line{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Impact";
    color: rgb(235, 235, 235);
    border-bottom: 1px solid hsl(0, 0%, 100%);
}

.lineleft{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 52px;
}

.lineright{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-size: 25px;
    font-family: "Impact";
}

#three{
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5%;
    flex-direction: column;
}

.threetop{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.threebtm{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.card{
    width: 45%;
    height: 100%;
    display: flex;
    padding: 20px 20px 20px 20px;
    flex-direction: column;
}

.intro{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
    font-size: 40px;
    font-family: "Impact";
    color: white;
}

.info{
    width: 100%;
    height: 75%;
    display: flex;
    color: white;
    font-size: 25px;
    font-family: "Impact";
    padding: 15px;
}

#four{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 40px 20px;
}

.emailbox{
    width: 90%;
    height: 100%;
    display: felx;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.455);
    border-radius: 20px;
}

@media (max-width: 432px) {
    .container{
        gap: 40px;
    }

    .one{
        width: 100%;
        height: 20vh;
    }

    .onemid{
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    .onebtm{
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    .onetop{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .welcome{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 55px;
    }

    #two{
        height: 170vh;
    }

    .box{
        width: 100%;
        height: 100%;
        gap: 10px;
    }

    .line{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        gap: 10px;

    }

    .lineleft{
        width: 100%;
        height: 20%;
        font-size: 45px;
    }

    .lineright{
        width: 100%;
        height: 80%;
        border-top: 1px solid;
        font-size: 25px;
    }

    #three{
        height: 170vh;
        display: flex;
        flex-direction: column;
    }

    .threetop{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
    }

    .threebtm{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 100%;
        height: 50%;
    }

    .intro{
        width: 100%;
        height: 20%;
        padding-bottom: 10px;
    }

    .info{
        width: 100%;
        height: 80%;
        padding: 10px 0px 10px 0px;
        font-size: 20px;
    }
}